@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-shimmer {
  position: relative;
  display: inline-block;
  color: #ffffff;
  transition: all 0.3s ease;
}

.hover-shimmer:hover {
  background: none; /* Remove gradient to avoid transparency issues */
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.3s ease;
}

/* Specific glow colors for each link based on icon hover color */
#home-link .hover-shimmer:hover {
  text-shadow: 0 0 5px rgba(245, 158, 11, 0.7), 0 0 10px rgba(245, 158, 11, 0.5); /* Stronger orange glow */
  color: #ffffff; /* Ensure text stays white */
}

#report-link .hover-shimmer:hover {
  text-shadow: 0 0 5px rgba(34, 197, 94, 0.7), 0 0 10px rgba(34, 197, 94, 0.5); /* Stronger green glow */
  color: #ffffff; /* Ensure text stays white */
}

#about-link .hover-shimmer:hover {
  text-shadow: 0 0 5px rgba(168, 85, 247, 0.7), 0 0 10px rgba(168, 85, 247, 0.5); /* Stronger purple glow */
  color: #ffffff; /* Ensure text stays white */
}
#map-link .hover-shimmer:hover {
  text-shadow: 0 0 5px rgba(59, 130, 246, 0.7), 0 0 10px rgba(59, 130, 246, 0.5); /* Stronger blue glow */
  color: #ffffff; /* Ensure text stays white */
}
.group:hover svg {
  filter: drop-shadow(0 0 5px rgba(255, 165, 0, 0.7)); /* Orange glow for icons */
  transition: filter 0.3s ease;
}